.App {
  text-align: center;
  margin-top: 80px;
  padding-top: 5px;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.container{
  background-color: #FFF6EA;
  height: 20em;
  width: 50em;
  margin: 0 auto;
  /* padding: 5px; */
}

h1{
  color: #06113C;
}
p{
  color: #FF8C32;
  width: 700px;
  margin: 0 auto;
}
button{
  background-color: #FF8C32;
  color: #EEEEEE;
  border-color: #FF8C32;
}